<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@ora1.ise.bgu.ac.il:1521:ORACLE</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="connection.username">schyarde</property>
        <property name="connection.password">abcd</property>
        
        <mapping resource="hib/Administrators.hbm.xml"/>
        <mapping class="hib.Administrators"/>
        <mapping resource="hib/History.hbm.xml"/>
        <mapping class="hib.History"/>
        <mapping resource="hib/Loginlog.hbm.xml"/>
        <mapping class="hib.Loginlog"/>
        <mapping resource="hib/Mediaitems.hbm.xml"/>
        <mapping class="hib.Mediaitems"/>
        <mapping resource="hib/Similarity.hbm.xml"/>
        <mapping class="hib.Similarity"/>
        <mapping resource="hib/Users.hbm.xml"/>
        <mapping class="hib.Users"/>
    </session-factory>
</hibernate-configuration>